// Colors
$body-bg: #1d2024;
$body-color: #787979;

$primary: #f9c66d;
$secondary: #32363d;
$danger: #ab1f23;
$success: #016839;
$light: #e7ecf2;
$lighten: #b1b9c3;
$dark: $body-bg;

$product-text-color: #181818;
$hr-border-color: #32363c;

$font-size-base: 1rem;
$line-height-base: 22 / 16;
$font-family-base: 'Gotham Pro', Helvetica, Arial, sans-serif;

$columns: 12;
$gutter: rem-calc(40);

$grid-breakpoints: (
    xs: 0,
    sm: 640px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1520px,
);

$border-radius: 0.15rem;

$paragraph-margin-bottom: 1.25rem;
$headings-margin-bottom: $paragraph-margin-bottom * 1.25;
