.flex-0 {
    flex: 0;
}

.flex-1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.flex-column {
    flex-direction: column;
}

$justify: start flex-start, end flex-end, center center, between space-between, around space-around;
$items-align: stretch stretch, center center, start flex-start, end flex-end, baseline baseline, initial initial, inherit inherit;

@each $j, $f in $justify {
    .justify-#{$j} {
        justify-content: #{$f} !important;
    }
}

@each $i, $f in $items-align {
    .align-#{$i} {
        align-items: #{$f} !important;
    }

    .align-self-#{$i} {
        align-self: #{$f};
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
        .flex-#{$breakpoint}-wrap {
            flex-wrap: wrap;
        }

        .flex-#{$breakpoint} {
            display: flex;
        }

        @each $j, $f in $justify {
            .justify-#{$breakpoint}-#{$j} {
                justify-content: #{$f} !important;
            }
        }

        @each $i, $f in $items-align {
            .align-#{$breakpoint}-#{$i} {
                align-items: #{$f} !important;
            }

            .align-self-#{$breakpoint}-#{$i} {
                align-self: #{$f};
            }
        }
    }
}
