.row {
    @extend .flex;
    margin-left: -$gutter/2;
    margin-right: -$gutter/2;
}

%column {
    padding-left: $gutter/2;
    padding-right: $gutter/2;
}

.column {
    @extend %column;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.column-auto {
    @extend %column;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

@for $column from 1 through $columns {
    .w-1\/#{$column} {
        flex: 0 0 100% / $column;
        max-width: 100% / $column;
    }
}

@for $column from 3 through ($columns / 2) {
    .w-2\/#{$column} {
        flex: 0 0 100% / ($column / 2);
        max-width: 100% / ($column / 2);
    }
}

@for $column from 4 through ($columns / 3) {
    .w-3\/#{$column} {
        flex: 0 0 100% / ($column / 3);
        max-width: 100% / ($column / 3);
    }
}

@for $column from 5 through ($columns / 4) {
    .w-4\/#{$column} {
        flex: 0 0 100% / ($column / 4);
        max-width: 100% / ($column / 4);
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
        .w-#{$breakpoint}-\1 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        @for $column from 3 through ($columns / 2) {
            .w-#{$breakpoint}-\2\/#{$column} {
                flex: 0 0 100% / ($column / 2);
                max-width: 100% / ($column / 2);
            }
        }

        @for $column from 4 through ($columns / 3) {
            .w-#{$breakpoint}-\3\/#{$column} {
                flex: 0 0 100% / ($column / 3);
                max-width: 100% / ($column / 3);
            }
        }
        @for $column from 5 through ($columns / 4) {
            .w-#{$breakpoint}-\4\/#{$column} {
                flex: 0 0 100% / ($column / 4);
                max-width: 100% / ($column / 4);
            }
        }

        @for $column from 2 through $columns {
            .w-#{$breakpoint}-\1\/#{$column} {
                flex: 0 0 100% / $column;
                max-width: 100% / $column;
            }
        }
    }
}
