.mih-100 {
    min-height: 100%;
}

.mah-100 {
    max-height: 100%;
}

.miw-100 {
    min-width: 100%;
}

.maw-100 {
    max-width: 100%;
}

.mihv-100 {
    min-height: 100vh;
}

.mahv-100 {
    max-height: 100vh;
}

.h-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
        .mih-#{$breakpoint}-\100 {
            min-height: 100%;
        }

        .mah-#{$breakpoint}-\100 {
            max-height: 100%;
        }

        .miw-#{$breakpoint}-\100 {
            min-width: 100%;
        }

        .maw-#{$breakpoint}-\100 {
            max-width: 100%;
        }

        .mihv-#{$breakpoint}-\100 {
            min-height: 100vh;
        }

        .mahv-#{$breakpoint}-\100 {
            max-height: 100vh;
        }

        .h-#{$breakpoint}-\100 {
            height: 100%;
        }

        .h-#{$breakpoint}-\50 {
            height: 50%;
        }

        .w-#{$breakpoint}-\100 {
            width: 100%;
        }

        .w-#{$breakpoint}-\50 {
            width: 50%;
        }
    }
}
