.btn {
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding: 10px 20px;
    transition: 0.35s;

    background-color: transparent;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;

    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    &-primary {
        background-color: $primary;
        color: #2a2a2a;

        &:hover {
            background-color: lighten($primary, 10%);
        }
    }

    &-secondary {
        background-color: $secondary;
        color: #fff;

        &:hover {
            background-color: lighten($secondary, 10%);
        }
    }

    &-dark {
        background-color: $body-bg;
        color: $body-color;

        &:hover {
            background-color: lighten($body-bg, 10%);
        }
    }

    &-disabled {
        color: $body-color !important;
        cursor: not-allowed;
        opacity: 0.5;
    }
}
