
// Body
$body-bg: #f9f9f9;

// Typography
$font-family-base: 'Fira Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark: #1d2024;
$yellow: #fae43d;
$primary: $dark;
$secondary: #666a6e;
$success: desaturate(#388E3C, 10%);
$danger: #C62828;

$link-hover-decoration: none;
