.aside {
    position: absolute;
    top: 0;
    width: 90px;
    height: 100%;
    min-height: 460px;
    z-index: 500;

    .nav {
        position: absolute;
        top: 0;
        left: 34px;
        transform: rotate(-90deg) translateX(-100%);
        transform-origin: 0 0;
        font-size: rem-calc(14);

        &-item {
            white-space: nowrap;
        }
    }

    &--left {
        left: 0;
    }

    &--right {
        right: 0;
        .nav {
            left: 38px;
        }
    }

    @media (min-width: map_get($grid-breakpoints, xxl)) {
        width: 140px;

        .nav {
            left: 56px;
        }

        &--right .nav {
            left: 64px;
        }
    }
}
