#app-cart {
    position: relative;

    .cart-icon {
        fill: #fff;
        transition: 0.35s;
        cursor: pointer;

        &:hover {
            fill: $primary;
        }
    }
}

.cart {
    background-color: $light;

    &-mask {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent;
    }

    &-item-image {
        width: 200px;
        height: 200px;
        vertical-align: top;

        &__related {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    &-footer {
        background-color: #fff;
    }

    tr {
        border-bottom: 2px solid #fff;
    }
}

.remove-cart-item {
    position: absolute;
    border-radius: 50%;
    border: 1px solid $secondary;
    transform: rotate(45deg);
    background-color: transparent;

    top: 15px;
    right: 10px;
    width: 20px;
    height: 20px;

    &::before,
    &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        content: '';
        border-bottom: 1px solid $secondary;
        width: 10px;
        margin-left: -5px;
        margin-top: -1px;
    }

    &::after {
        transform: rotate(90deg);
    }

    @media (min-width: map_get($grid-breakpoints, md)) {
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;

        &::before, &::after {
            width: 15px;
            margin-left: -7px;
            margin-top: 0;
        }
    }

    &:hover {
        background-color: $secondary;

        &::before,
        &::after {
            border-bottom-color: $light;
        }
    }

    &.in-preview {
        top: 0;
        @media (min-width: map_get($grid-breakpoints, md)) {
            top: -4px;
        }
    }
}

.cart-entry {
    position: absolute;
    right: -5px;
    width: 97vw;
    top: 100%;
    background-color: #fff;
    max-width: 650px;
    color: $dark;
    margin-top: 20px;
    box-shadow: -5px 20px 60px rgba(#000, 0.2);
    z-index: 1000;
    max-height: 88vh;
    overflow-y: auto;

    @media (min-width: map_get($grid-breakpoints, md)) {
        right: -40px;
    }

    @media (min-width: map_get($grid-breakpoints, xxl)) {
        max-width: 900px;
    }

    &::before {
        position: absolute;
        width: 10px;
        height: 10px;
        top: -5px;
        right: 15px;
        content: '';
        background-color: #fff;
        transform: rotate(45deg);
        max-height: 95vh;

        @media (min-width: map_get($grid-breakpoints, md)) {
            right: 49px;
        }
    }

    &.is-fixed::before {
        display: none;
    }

    &-header,
    &-footer {
        a:not(.btn-secondary) {
            color: $dark;

            svg {
                fill: $dark;
                transition: 0.35s;
            }

            &:hover {
                color: mix($dark, $primary);
                svg {
                    fill: mix($dark, $primary);
                }
            }
        }
    }

    &-footer {
        background-color: #fff;
    }

    &-item {
        min-height: 100px;
        margin-bottom: 2px;

        .add-sign {
            margin-top: 50px - 18px;
        }

        a {
            color: $dark;

            &:hover {
                color: mix($dark, $primary);
            }
        }

        &__wrapper {
            flex: 1 1 auto;
            max-width: 100%;
            position: relative;
        }

        &__thumbnail {
            background-color: #fff;

            img {
                width: 60px;

                @media (min-width: map_get($grid-breakpoints, xxl)) {
                    width: 200px;
                }
            }
        }

        &__content {
            flex-grow: 1;
            @media (max-width: map_get($grid-breakpoints, lg)) {
                h5, h6 {
                    font-size: 1rem;
                }
            }
        }
    }
}

.product-quantity {
    .quantity-counter {
        width: 40px;
        line-height: 40px;
        text-align: center;
        background-color: mix($body-color, $secondary);
        color: #fff;
    }

    .btn {
        width: 40px;
        height: 40px;
        padding: 0;
        font-size: 18px;

        &:first-child {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

