.checkout {
    &-products {
        tr {
            background-color: $light;
            border-bottom: 1px solid;

            td:first-child {
                padding-left: .625rem;
            }

            td:last-child {
                padding-right: .625rem;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
