.products {
    margin: 1px -1px;

    .product-item-wrapper {
        padding: 1px;
        flex: 0 0 100%;
    }

    .is-large, .is-medium, .is-small {
        flex: 0 0 100%;
        max-width: 100%;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
        .is-large, .is-medium {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .is-small {
            flex: 0 0 30%;
            max-width: 30%;
        }
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
        .is-large {
            flex: 0 0 60%;
            max-width: 60%;
        }

        .is-medium {
            flex: 0 0 40%;
            max-width: 40%;
        }

        .is-last {
            margin-top: 100px;
            height: calc(100% - 100px);
        }
    }
}

.product-item {
    position: relative;
    background-color: #fefefe;
    color: $product-text-color;
    padding: rem-calc(20);
    overflow: hidden;
    z-index: 10;

    @media (min-width: map_get($grid-breakpoints, lg)) {
        padding: rem-calc(30);
    }

    figure {
        @extend %abs;
        margin: 0;
        z-index: -1;
        background-size: cover;
        transition: transform 1s ease;
        background-position: 50% 50%;
    }

    &:hover {
        .product-item__title {
            transition: 0.35s;
            color: mix($dark, $primary);
        }

        figure {
            transform: scale(1.15) rotate(-1deg);
            transition-duration: 3s;
        }
    }

    &-content {
        position: absolute;
        left: 20px;
        right: 20px;
        top: 20px;

        @media (min-width: map_get($grid-breakpoints, lg)) {
            left: 30px;
            right: 30px;
            top: 30px;
        }
    }

    &__tag {
        font-size: rem-calc(12);
        text-transform: uppercase;
        padding: rem-calc(8) rem-calc(15) rem-calc(6);
        background-color: $primary;
        color: $product-text-color;
    }

    &__price {
        padding-left: 2.5rem;
        position: relative;
        color: $product-text-color;
        line-height: 1;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 30px;
            border-top: 1px solid $danger;
            content: '';
            margin-top: -1px;
        }
    }

    &__title {
        a {
            color: inherit;
        }
    }

    &__stars {
        svg {
            fill: #9e9e9e;

            &.is-filled {
                fill: $primary;
            }
        }
    }

    &__colors {
        div {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    }

    &.is-large {
        .product-item__title {
            font-size: rem-calc(34);
        }
    }

    &.tag-rotated {
        @media (min-width: map_get($grid-breakpoints, lg)) {
            .product-item__tag {
                position: absolute;
                left: rem-calc(10);
                top: 0;
                transform: rotate(-90deg) translateX(-100%);
                transform-origin: 0 0;
            }
        }
    }

    &--squire {
        display: block;
        padding-top: 100%;
        padding-bottom: 0;
        height: 0;
    }

    &--promo {
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        @media (min-width: map_get($grid-breakpoints, lg)) {
            padding: rem-calc(60);
        }

        @media (min-width: map_get($grid-breakpoints, xxl)) {
            padding: rem-calc(80);
        }
    }

    &--leaders {
        height: 320px;

        figure {
            background: #fff url("../../images/leaders-bg.png") 130% 30% / 75% auto no-repeat;
        }
    }

    &--all {
        height: 420px;
        margin-bottom: -100px;

        figure {
            background: #fff url("../../images/catalog-bg.jpg") 100% 50% / auto 105% no-repeat;
        }
    }
}

.product {
    background-color: #fff;
    font-size: rem-calc(14);

    h1, h4 {
        color: $body-bg;
    }

    hr {
        border-color: lighten($body-color, 30%);
    }

    &-details {
        padding: 2.5rem;

        @media (min-width: map_get($grid-breakpoints, lg)) {
            padding: rem-calc(60);
        }
    }

    &-colors {
        div {
            width: rem-calc(12);
            height: rem-calc(12);
            border-radius: 50%;
        }
    }

    &-price {
        font-size: rem-calc(30);
        letter-spacing: 0.01em;
    }

    &-tag {
        @extend .product-item__tag;

        position: absolute;
        left: rem-calc(90);
        transform: rotate(-90deg) translateX(-100%);
        transform-origin: 0 0;
        margin-left: 10px;

        @media (min-width: map_get($grid-breakpoints, xxl)) {
            left: 180px;
        }
    }
}
