.filter {
    &-icon {
        fill: $body-color;
        transition: fill 0.35s;
        @media (min-width: map_get($grid-breakpoints, lg)) {
            transform: rotate(90deg);
        }
    }

    &-link {
        position: relative;
        z-index: 150;
    }
}

.filters {
    position: relative;
    box-shadow: 5px 20px 60px rgba(#000, 0.2);
    background-color: $secondary;
    font-size: rem-calc(14);
    color: #8b98a5;
    transition: 0.35s;
    height: 0;
    overflow: hidden;

    &.is-active {
        height: auto;
        margin-bottom: rem-calc(40);
    }

    a {
        color: inherit;
        &:hover {
            color: #fff;
        }
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
        padding-left: 90px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        width: 100%;
        max-width: 560px;
        height: 420px !important;
        transform: translateX(-100%);
        margin-bottom: 0 !important;

        &.is-active {
            height: auto;
            transform: translateX(0);
        }
    }

    @media (min-width: map_get($grid-breakpoints, xxl)) {
        padding-left: 140px;
    }

    &-list {
        height: 100%;
        position: relative;

        @media (min-width: map_get($grid-breakpoints, lg)) {
            display: block;
            margin-right: 162px;
        }

        .mainmenu {
            padding: 30px 20px 30px;
            @media (min-width: map_get($grid-breakpoints, lg)) {
                padding: 60px 50px 60px 0;
            }
        }

        &-item {
            &.has-submenu {
                svg {
                    fill: #8b98a5;
                    transition: 0.35s;
                }

                &.is-active {
                    svg {
                        fill: #fff;
                        transform: scaleY(-1);
                    }

                    .toggler-link {
                        color: #fff;
                    }
                }
            }
        }

        .submenu {
            overflow: hidden;
            max-height: 0;
            transition: 0.35s;

            li {
                padding: 5px 0 5px 30px;
                position: relative;
                z-index: 5;

                a {
                    display: block;
                }

                &::before {
                    position: absolute;
                    right: 0;
                    left: -15px;
                    top: 0;
                    bottom: 0;
                    border-left: 2px solid #fff;
                    content: '';
                    background-color: rgba(#fff, 0.35);
                    opacity: 0;
                    transition: 0.35s;
                    z-index: -1;
                }

                &:hover {
                    color: #fff;

                    &::before {
                        opacity: 1;
                    }
                }
            }

            &.is-visible {
                overflow: initial;
                padding-top: 20px;
                max-height: 99em;
            }
        }
    }

    &-brands {
        @media (min-width: map_get($grid-breakpoints, lg)) {
            position: absolute !important;
            right: 2px;
            top: 2px;
            bottom: 2px;
            width: 90px !important;
            height: auto !important;
        }

        .simplebar-offset {
            right: 0 !important;
        }

        li {
            background-color: $body-bg;

            @media (min-width: map_get($grid-breakpoints, lg)) {
                max-width: initial;
            }

            a {
                padding: 20px;
                display: block;
            }

            &.is-active {
                background-color: $secondary;
            }
        }

        img {
            max-height: 48px;
            max-width: 120px;
        }

        @media (min-width: map_get($grid-breakpoints, lg)) {
            width: 160px !important;

            li {
                a {
                    padding: 30px 20px;
                }
            }
        }
    }

    .simplebar-content {
        padding: 0 !important;
    }
}

.nav-item:hover {
    .filter-icon {
        fill: $primary;
    }
}
