.notification {
    position: fixed;
    max-width: 300px;
    padding: 20px;
    top: 20px;
    right: 20px;
    transition: 0.35s;
    z-index: 999;
    font-size: rem-calc(14);

    &-success {
        background-color: $success;
        color: #fff;
    }

    &-danger {
        background-color: $danger;
        color: #fff;
    }
}
