.subscribe-form {
    position: relative;
    background-color: #363636;
    padding: 2px;
    border-radius: $border-radius;
    
    input {
        background-color: transparent;
        flex: 1 0 auto;
        width: auto;
        color: #fff;
    }
    
    .btn {
        background-color: #707070;
        &:hover {
            background-color: $primary;
        }
    }
}
